In [1]:
import pandas as pd
import numpy as np

## Datatypes

In [2]:
bool(0)

False

In [3]:
float('2')

2.0

In [4]:
int(2.0)

2

In [5]:
s = 'sahil'
print(type(s))

<class 'str'>

In [6]:
#Revese String
s[::-1]

'lihas'

In [7]:
np.linspace(0,5,10)

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

## Data Types in Python

In [8]:
py_l = [i for i in range(100000)]

In [9]:
len(py_l)

100000

In [10]:
py_l[:5]

[0, 1, 2, 3, 4]

In [11]:
%%timeit
global py_l
py_l = [i*2 for i in py_l]

8.8 ms ± 1.09 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
# Best way to copy strings
a = [1,2,3]

In [13]:
a[0]

1

In [14]:
b = a[:]
b

[1, 2, 3]

In [15]:
b[0] = 10
b

[10, 2, 3]

In [16]:
print(a)
print(b)

[1, 2, 3]
[10, 2, 3]

In [17]:
a = [1,2,3]

In [18]:
c = a[:]   # 
c[0] = 10
print(c)

[10, 2, 3]

In [19]:
d = list(a)
d[0] = 10
print(a)

[1, 2, 3]

In [20]:
dict1 = {
    "id":1,
    "id":"sahil",
    "country":"canada"
}

In [21]:
dict1["id"]

'sahil'

In [22]:
tple = (1,2,3,4,5)

In [23]:
tple[3]=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
s1 = {1,2,3,4,4}
s2 = {3,4,5,6}

In [ ]:
s1 & s2                                                      # | &

## Numpy

In [ ]:
arr = np.array([i for i in range(100000)])

In [ ]:
%%timeit
global arr
arr = arr*2

In [ ]:
arr[:5]

In [ ]:
##Allows broadcasting
arr[:5] + 1

## Dataframes

In [24]:
dicttotal = {
    "id":[1,2,3],
    "name":["sahil","abc","xyz"],
    "country":["canada","usa","india"]
}
dicttotal

{'id': [1, 2, 3],
 'name': ['sahil', 'abc', 'xyz'],
 'country': ['canada', 'usa', 'india']}

In [25]:
df1 = pd.DataFrame(dicttotal)

In [26]:
df1

   id   name country
0   1  sahil  canada
1   2    abc     usa
2   3    xyz   india

In [27]:
df2 = pd.DataFrame({
    "id":[1,2],
    "jobrole":["data scientist","data engineer"]
})
df2

   id         jobrole
0   1  data scientist
1   2   data engineer

In [ ]:
## Example of Merge

In [28]:
pd.merge(df1,df2,how='left',left_on='id',right_on='id')    #Outer, Right, Left

   id   name country         jobrole
0   1  sahil  canada  data scientist
1   2    abc     usa   data engineer
2   3    xyz   india             NaN